# Copied from '.gitignore', please keep it in sync.
/.eslintcache
/node_modules
/coverage
/npmDist
/denoDist
/npm
/deno

# Ignore TS files inside integration test
/integrationTests/ts/*.ts

# Ignore TS files inside jit-benchmarks
/jit-benchmarks/*.ts
